<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>managebanners</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
   <link rel="stylesheet" href="managebanners.css"/>

</head>

<body>
    <div id="bannerspopup">
        <div id="bannertitle">MANAGE BANNERS</div>
        <div id="bannerdisplay">
            <div class="parent">
                <div class="imgg"></div>
                <button class="deletebanner">
                    Delete
                </button>
            </div>
            <div class="parent">
                <div class="imgg"></div>
                <button class="deletebanner">
                    Delete
                </button>
            </div>
            <div class="parent">
                <div class="imgg"></div>
                <button class="deletebanner">
                    Delete
                </button>
            </div>
            <div class="parent">
                <div class="imgg"></div>
                <button class="deletebanner">
                    Delete
                </button>
            </div>
            <div class="parent">
                <div class="imgg"></div>
                <button class="deletebanner">
                    Delete
                </button>
            </div>
            <div class="parent">
                <div class="imgg"></div>
                <button class="deletebanner">
                    Delete
                </button>
            </div>
        </div>

        <div id="addbanner">
            <div class="file-input-section">
                <div class="custom-file-wrapper">
                    <input type="file" id="banner-input" class="custom-input" accept="image/*">
                    <label for="banner-input" class="custom-file-label">Choose File</label>
                </div>
                <span id="file-name-display" class="file-name-display">No file chosen</span>
            </div>
            <button id="addbannerbtn" class="add-remove">Add Banner</button>
            <button id="closebannerpopup" class="add-remove">Close</button>
        </div>
    </div>

</body>

</html>
