<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIEPUFF</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/privacypolicy.css">
</head>

<body>
    <section id="navbar">
        <h1 id="title">TSOONAMI</h1>
    </section>
    <main>
        <div class="div-privacypolicy">
            <div class="heading-privacypolicy">
                Privacy policy
            </div>
            <div class="content-privacypolicy">
                This policy may change from time to time, your continued use of Tsoonami's Services after it makes
                any
                change is deemed to be acceptance of those changes, so please check the policy periodically for
                updates.

            </div>
            <div class="sub">
                Information You Provide to Us
            </div>
            <div class="content-privacypolicy">
                <span class="sub-sub">Your account information:</span> Your full name, email, password and other
                information you
                may provide with your account, such as your gender, mobile phone number and website. Your profile
                picture that will be publicly displayed as part of your account profile. You may optionally provide
                us
                with this information through third-party sign-in services. In such
                cases, we fetch and store whatever information is made available to us by you through these sign-in
                services.
            </div>
            <div class="content-privacypolicy">
                <span class="sub-sub">Your content: </span>Information you provide through our Services, including your
                reviews, movie
                ratings
                and other
                information you provide on our Services.
            </div>
            <div class="content-privacypolicy">
                <span class="sub-sub">Your transactional information:</span> If you make purchases through our Services,
                we may
                collect and store information about you to process your requests and automatically complete forms
                for
                future transactions, including (but not limited to) your phone number, email, billing
                information and credit or payment card information. This information may be shared with
                third-parties
                which assist in processing and fulfilling your requests, including PCI compliant payment gateway
                processors. When you submit credit or payment card information, we encrypt the information using
                industry standard technologies.
            </div>

            <div class="sub">Payment Card Information</div>
            <div class="content-privacypolicy">
                When you use a credit or debit card for payment in our Site, we provide your credit or
                debit card account information (including card number and expiration date) to our third-party
                payment
                service providers.<br>
                When you initially provide your credit or debit card account information through our Services in
                order
                to use our payment services, we provide your credit or debit card account information to our
                third-party payment service providers. As explained in our Terms of Use, these third parties may
                store
                your credit or debit card account information so you can use our payment services in the future.
            </div>
            <div class="div-TnC">
                <div class="heading-privacypolicy">
                    Terms & Conditions
                </div>
                <div class="sub">
                    MOVIES
                </div>
                <div class="content-privacypolicy">
                    <ol type="i">
                        <li>Bookings for the tickets once made by you cannot be cancelled, modified, exchanged or
                            refunded
                            unless such policies are provided at the cinema or Platform and opted-in by you while
                            booking
                            the movie tickets.</li>
                        <li>Your booking confirmation will be sent via an e-mail to the registered
                            contact details and/or shown in the movies section of the Platform.</li>
                        <li>Booking ID and / or order ID generated through the Platform shall be considered as a valid
                            booking ID. Any claims / issues pertaining to the booking ID should be raised with
                            and resolved at Tsoonami's customer care and the decision of Tsoonami shall be final and
                            binding. Such complaints shall be raised on the Platform.</li>
                        <li>You are advised to keep your booking IDs secure and in the possession of either yourself or
                            an
                            authorized representative. Please be aware that anyone who possesses the booking ID will be
                            permitted to exchange it for a valid ticket, without further security checks, as long as
                            they
                            are considered to be the authorized holder of the booking ID.</li>
                        <li>If you do not receive the booking ID after submitting payment information, or if you receive
                            an
                            error message or service interruption after submitting payment information, you should
                            refresh
                            the page / relaunch the Platform to get the updated status as booking confirmation can take
                            up
                            to thirty (30) minutes. If no booking ID is received even after thirty (30) minutes of
                            payment,
                            you should immediately report to the customer care. District shall not be responsible for
                            any
                            losses occurred during this process, due to any default on the part of banks, payment
                            aggregators etc. or for reasons not attributable to Tsoonami. </li>
                        <li>The holder of a physical ticket / digital ticket is deemed to be the owner of the ticket(s).
                        </li>
                        <li>Booking charges and / or the internet handling charges are levied on all tickets booked
                            online
                            on the Platform. </li>
                        <li>Before purchasing the tickets, you are advised to check the warning about age restrictions
                            for
                            that particular movie. As per applicable laws, individuals under the age of 18 (eighteen)
                            shall
                            not be permitted to enter the cinema / theatre for movies with an A (adult) rating.
                            Additionally, You are further advised to check for any other applicable entry restrictions
                            or
                            ratings that may be in place for specific movies. </li>
                        <li>If the merchant cancels or reschedules the movie / show, Tsoonami shall not be held
                            responsible
                            for such cancellation(s) or reschedule. In the event that a merchant cancels or reschedules
                            a
                            movie, Tsoonami will notify you on a best effort basis and shall provide a refund according
                            to
                            the cinema / theatre's policy. Where refund is permissible as per the cinema / theatre's
                            policy,
                            Tsoonami shall automatically issue a refund to your original payment mode(s) / other payment
                            mode as opted by you with applicable deductions from the amount paid by you for the movie
                            ticket(s) (including any add-on products) booked on Tsoonami. After we processes the
                            refund, the amount shall be reflected in your bank account / payment mode as per bank
                            timelines.
                        </li>
                    </ol>
                </div>
            </div>
    </main>

    <footer class="footer-container">
        <div class="footer-top">
            <a href="/admin/ContactUs">Contact Us</a>
            <a href="/privacypolicy">Privacy Policy & Terms & Conditions</a>
        </div>
        <div class="footer-bottom">
            <div class="footer-left">
                <span class="logo">TSOONAMI</span>
                <span class="copyright">&copy;copyright reserved TSOONAMI.all rights reserved.</span>
            </div>
            <div class="footer-right">
                <div class="social-icon"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26"
                        viewBox="0 0 24 24">
                        <path
                            d="M 8 3 C 5.243 3 3 5.243 3 8 L 3 16 C 3 18.757 5.243 21 8 21 L 16 21 C 18.757 21 21 18.757 21 16 L 21 8 C 21 5.243 18.757 3 16 3 L 8 3 z M 8 5 L 16 5 C 17.654 5 19 6.346 19 8 L 19 16 C 19 17.654 17.654 19 16 19 L 8 19 C 6.346 19 5 17.654 5 16 L 5 8 C 5 6.346 6.346 5 8 5 z M 17 6 A 1 1 0 0 0 16 7 A 1 1 0 0 0 17 8 A 1 1 0 0 0 18 7 A 1 1 0 0 0 17 6 z M 12 7 C 9.243 7 7 9.243 7 12 C 7 14.757 9.243 17 12 17 C 14.757 17 17 14.757 17 12 C 17 9.243 14.757 7 12 7 z M 12 9 C 13.654 9 15 10.346 15 12 C 15 13.654 13.654 15 12 15 C 10.346 15 9 13.654 9 12 C 9 10.346 10.346 9 12 9 z">
                        </path>
                    </svg></div>
                <div class="social-icon"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26"
                        viewBox="0 0 24 24">
                        <path
                            d="M17.525,9H14V7c0-1.032,0.084-1.682,1.563-1.682h1.868v-3.18C16.522,2.044,15.608,1.998,14.693,2 C11.98,2,10,3.657,10,6.699V9H7v4l3-0.001V22h4v-9.003l3.066-0.001L17.525,9z">
                        </path>
                    </svg></div>
                <div class="social-icon"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26"
                        viewBox="0 0 24 24">
                        <path
                            d="M 5 3 C 3.895 3 3 3.895 3 5 L 3 19 C 3 20.105 3.895 21 5 21 L 19 21 C 20.105 21 21 20.105 21 19 L 21 5 C 21 3.895 20.105 3 19 3 L 5 3 z M 5 5 L 19 5 L 19 19 L 5 19 L 5 5 z M 7.7792969 6.3164062 C 6.9222969 6.3164062 6.4082031 6.8315781 6.4082031 7.5175781 C 6.4082031 8.2035781 6.9223594 8.7167969 7.6933594 8.7167969 C 8.5503594 8.7167969 9.0644531 8.2035781 9.0644531 7.5175781 C 9.0644531 6.8315781 8.5502969 6.3164062 7.7792969 6.3164062 z M 6.4765625 10 L 6.4765625 17 L 9 17 L 9 10 L 6.4765625 10 z M 11.082031 10 L 11.082031 17 L 13.605469 17 L 13.605469 13.173828 C 13.605469 12.034828 14.418109 11.871094 14.662109 11.871094 C 14.906109 11.871094 15.558594 12.115828 15.558594 13.173828 L 15.558594 17 L 18 17 L 18 13.173828 C 18 10.976828 17.023734 10 15.802734 10 C 14.581734 10 13.930469 10.406562 13.605469 10.976562 L 13.605469 10 L 11.082031 10 z">
                        </path>
                    </svg></div>
            </div>
        </div>
    </footer>

</body>
</section>