<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login / Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/signIn.css">
</head>

<body>
    <img src="/assets/bg.jpeg">
    <div class="message"></div>
    <div class="login-popup">
        <div class="left-div">
            <div class="title">TSOONAMI</div>
            <img src="/assets/left-div.jpg" class="left-img">
        </div>
        <div class="right-content">
            <div class="tabs">
                <button class="tab-button active" id="logbutton">Log in</button>
                <button class="tab-button" id="regbutton">Register</button>
            </div>
            <div id="login">
                <h2>Log in to your account</h2>
                <form class="login-form">
                    <div class="input-group">
                        <input type="email" placeholder="Email" pattern="^[a-zA-Z0-9._%+\-]+@gmail\.com$" required
                            id="login-email">

                    </div>
                    <div class="input-group password-group">
                        <input type="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            required id="login-password">
                    </div>
                    <button type="submit" class="login-button" id="login-submit">Log in</button>
            </div>
            <div id="register">
                <h2>Create account</h2>
                <form class="login-form">
                    <div class="input-group">
                        <input type="text" placeholder="Name" pattern="^[A-Za-z\s]+$" required id="register-name">
                    </div>
                    <div class="input-group">
                        <input type="email" placeholder="Email" pattern="^[a-zA-Z0-9._%+\-]+@gmail\.com$" required
                            id="register-email">

                    </div>
                    <div class="input-group password-group">
                        <input type="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,} "
                            required id="register-password">
                    </div>
                    <button type="submit" class="login-button" id="register-submit">Register</button>
            </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/signin.js"></script>

</body>

</html>