<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kirang+Haerang&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <h1>TSOONAMI</h1>
        <div class="seat-type">
            <div class="color-show">
                <div class="color-box"></div>
                <p>Selected</p>
            </div>
            <div class="color-show">
                <div class="color-box"></div>
                <p>Sold out</p>
            </div>
            <div class="color-show">
                <div class="color-box"></div>
                <p>Available</p>
            </div>
        </div>

        <div class="seats-dropdown">
            <select id="num-seats" name="seats" required>
                <option value="" disabled selected>Select number of seats...</option>
                <option value="1">1 Seat</option>
                <option value="2">2 Seats</option>
                <option value="3">3 Seats</option>
                <option value="4">4 Seats</option>
                <option value="5">5 Seats</option>
                <option value="6">6 Seats</option>
                <option value="7">7 Seats</option>
                <option value="8">8 Seats</option>
                <option value="9">9 Seats</option>
                <option value="10">10 Seats</option>
            </select>
        </div>
    </header>
    <main>
        <div class="main-content">
            <div class="left-panel">
                <div class="movie-details-panel">
                    <h2>Sitaare zameen par</h2>
                    <p> Action, Fantasy</p>
                    <p> Hindi | 2D | PG-13</p>
                    <p> Mon, 7 July 2025 <span class="movie-info" style="background-color:bisque; width:66px;">7:30 PM
                        </span></p>

                    <p>PVR INOX: Infiniti Mall, Malad</p>
                    <p class="movie-info">Selected seats: </p>
                    <p>C2, C3, C4</p>

                </div>

                <div class="bill-summary-panel">
                    <h2>BILL SUMMARY</h2>
                    <div class="bill-item">
                        <span>Tickets (<span id="selected-seats-count">0</span>)</span>
                        <span id="tickets-total" style="margin-left: 100px;">$0.00</span>
                    </div>
                    <div class="bill-item">
                        <span>Booking Fee</span>
                        <span style="margin-left: 90px;">$2.50</span>
                    </div>
                    <div class="bill-total">
                        <span>Total</span>
                        <span id="final-total" style="margin-left: 143px;">$2.50</span>
                    </div>
                    <button class="book-ticket-button">BOOK TICKETS</button>
                </div>
            </div>

            <div class="right-panel">
                <div class="screen">SCREEN THIS WAY</div>
                <div class="seats-grid" id="seats-grid">

                </div>
            </div>
        </div>
    </main>



</body>

</html>
