<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kirang+Haerang&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/contactus.css">
</head>

<body>
    <section id="navbar">
        <h1 id="title">TSOONAMI</h1>
    </section>
    <div class="container">
        <h1 class="main-heading">Contact Us</h1>

        <div class="contact-card">
            <div class="card-header">
                <h3 class="card-title">Email Support</h3>
            </div>
            <p class="card-description">We'll respond within 24 hours of your request.</p>
            <a href="mailto:secondaryrk1245@gmail.com?subject=Contact%20Us%20Inquiry" target="_blank"
                rel="noopener noreferrer" class="card-button">Send us an email</a>
        </div>

        <h2 class="section-heading">Send Us a Message</h2>
        <div class="formats-sub" id="biginquiry">
            <button>Inquiry Type</button>
            <img src="/assets/downarrow.svg" id="inquiryimg">
            <div class='formatcontainer' id="inquirydropdown">
                <ul class="formatul" id="inquiryid">
                    <li>Movie</li>
                    <hr>
                    <li>Payment</li>
                    <hr>
                    <li>Refund</li>
                    <hr>
                    <li>Theatre</li>
                    <hr>
                </ul>
            </div>
        </div>


        <label for="issueDescription" class="sr-only">Briefly describe your issue here</label>
        <textarea id="issueDescription" name="issueDescription" rows="5" class="form-textarea"
            placeholder="Briefly describe your issue here *" required></textarea>
        <button type="submit" class="submit-button" id="submit">
            Submit
        </button>
        </form>
    </div>
    <footer class="footer-container">
        <div class="footer-top">
            <a href="#">Contact Us</a>
            <a href="#">About Us</a>
            <a href="#">Privacy Policy & Terms & Conditions</a>
        </div>
        <div class="footer-bottom">
            <div class="footer-left">
                <span class="logo">TSOONAMI</span>
                <span class="copyright">&copy;copyright reserved TSOONAMI.all rights reserved.</span>
            </div>
            <div class="footer-right">
                <div class="social-icon"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26"
                        viewBox="0 0 24 24">
                        <path
                            d="M 8 3 C 5.243 3 3 5.243 3 8 L 3 16 C 3 18.757 5.243 21 8 21 L 16 21 C 18.757 21 21 18.757 21 16 L 21 8 C 21 5.243 18.757 3 16 3 L 8 3 z M 8 5 L 16 5 C 17.654 5 19 6.346 19 8 L 19 16 C 19 17.654 17.654 19 16 19 L 8 19 C 6.346 19 5 17.654 5 16 L 5 8 C 5 6.346 6.346 5 8 5 z M 17 6 A 1 1 0 0 0 16 7 A 1 1 0 0 0 17 8 A 1 1 0 0 0 18 7 A 1 1 0 0 0 17 6 z M 12 7 C 9.243 7 7 9.243 7 12 C 7 14.757 9.243 17 12 17 C 14.757 17 17 14.757 17 12 C 17 9.243 14.757 7 12 7 z M 12 9 C 13.654 9 15 10.346 15 12 C 15 13.654 13.654 15 12 15 C 10.346 15 9 13.654 9 12 C 9 10.346 10.346 9 12 9 z">
                        </path>
                    </svg></div>
                <div class="social-icon"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26"
                        viewBox="0 0 24 24">
                        <path
                            d="M17.525,9H14V7c0-1.032,0.084-1.682,1.563-1.682h1.868v-3.18C16.522,2.044,15.608,1.998,14.693,2 C11.98,2,10,3.657,10,6.699V9H7v4l3-0.001V22h4v-9.003l3.066-0.001L17.525,9z">
                        </path>
                    </svg></div>
                <div class="social-icon"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26"
                        viewBox="0 0 24 24">
                        <path
                            d="M 5 3 C 3.895 3 3 3.895 3 5 L 3 19 C 3 20.105 3.895 21 5 21 L 19 21 C 20.105 21 21 20.105 21 19 L 21 5 C 21 3.895 20.105 3 19 3 L 5 3 z M 5 5 L 19 5 L 19 19 L 5 19 L 5 5 z M 7.7792969 6.3164062 C 6.9222969 6.3164062 6.4082031 6.8315781 6.4082031 7.5175781 C 6.4082031 8.2035781 6.9223594 8.7167969 7.6933594 8.7167969 C 8.5503594 8.7167969 9.0644531 8.2035781 9.0644531 7.5175781 C 9.0644531 6.8315781 8.5502969 6.3164062 7.7792969 6.3164062 z M 6.4765625 10 L 6.4765625 17 L 9 17 L 9 10 L 6.4765625 10 z M 11.082031 10 L 11.082031 17 L 13.605469 17 L 13.605469 13.173828 C 13.605469 12.034828 14.418109 11.871094 14.662109 11.871094 C 14.906109 11.871094 15.558594 12.115828 15.558594 13.173828 L 15.558594 17 L 18 17 L 18 13.173828 C 18 10.976828 17.023734 10 15.802734 10 C 14.581734 10 13.930469 10.406562 13.605469 10.976562 L 13.605469 10 L 11.082031 10 z">
                        </path>
                    </svg></div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/contactus.js"></script>

</body>

</html>